name: Пайплайн

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Install dependencies
      if: ${{ success() }}
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run pipeline
      run: |
        python main.py

    - name: Upload results
      uses: actions/upload-artifact@v4
      with:
        name: ml-reports
        path: |
          reports/
          mlruns/models/

    - name: Show MLflow result
      run: |
        find ./mlruns -type f -name "meta.yaml"
